<%- include("Partials/header.ejs") %>
<div class="container2">
<div class="about">
<h2>About Me</h2>
<p>Hello! My name is Chaitanya, and I am an aspiring Full Stack Developer. I am passionate about creating dynamic and responsive web applications. I am currently a student, continuously learning and expanding my skill set.</p>
</div></div>
<%- include("Partials/footer.ejs") %>