<%- include("Partials/header.ejs") %>
    <div class="containerW">
        <img src="/Assets/Right.png" alt="">
        <h3>Right Answer</h3>
    </div>
    <a href="/"><div class="nextBtn"><input type="button" value="TRY AGAIN"></div></a>
<%- include("Partials/footer.ejs") %>