<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz Game</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>

    <h3>File Hierarchy :-</h3>
    <div class="copy_code" id="contentCopy1">
      <pre>
    project-directory/
    │
    ├── public/
    │   ├── Assets/
    │   │   └── Right.png
    │   ├── css/
    │   │   └── style.css
    │   └── js/
    │       └── file.js  
    │
    ├── views/
    │   ├── Partials/
    │   │   ├── header.ejs
    │   │   └── footer.ejs
    │   ├── index.ejs
    │   ├── about.ejs
    │   ├── contact.ejs
    │   ├── source_code.ejs
    │   ├── wrong.ejs  
    │   └── right.ejs   
    │
    ├── index.js
    ├── package.json
    └── package-lock.json
        
        
    </pre
      >
    </div>
    <div class="copy" ><button id="copy1" onclick="copyCode1()">Copy</button></div>



    <h3>index.js Code :-</h3>
    <div class="copy_code" id="contentCopyJ">
      <pre>
    import express from 'express';
    import bodyParser from 'body-parser';
    const app = express();
    
    app.use(bodyParser.urlencoded({ extended: true }));
    
    const questions = [
      { question: "Which Indian state is known for the Ajanta and Ellora caves?", answer: "Maharashtra" },
      { question: "Who was the first Indian to win the Booker Prize?", answer: "Arundhati Roy" },
      { question: "Which Indian state is known as the 'Land of High Passes'?", answer: "Jammu and Kashmir" }
    ];
    
    
    function getRandomQuestion() {
      let randomIndex = Math.floor(Math.random() * questions.length);
      return randomIndex;
    } 
    
    let x;
    
    app.get("/", (req, res) =&gt; {
      x = getRandomQuestion();
      res.render("index.ejs", { question: questions[x].question});
    });
    
    app.use(express.static('public'));
    
    app.post("/submit-question", (req, res) =&gt; {
      const question=questions[x];
      const userAnswer = req.body.answer.toLowerCase(); 
      const correctAnswer = question.answer.toLowerCase();
      if(userAnswer!=correctAnswer){
        res.render("wrong.ejs", { answer: questions[x].answer });
      }
      else{
        res.render("right.ejs");
      }
    });
    
    
    const port=3000;
    
    app.listen(port, () =&gt; {
        console.log(`Port number: ${port} is listening`);
    });
    
    app.get("/about", (req, res) =&gt; {
        res.render("about.ejs");
      });
    
    app.get("/contact", (req, res) =&gt; {
        res.render("contact.ejs");
    });
    
    app.get("/source-code", (req, res) =&gt; {
      res.render("source_code.ejs");
    });
    
    
    app.post("/submit-contact", (req, res) =&gt; {
      const { name, email, comment } = req.body;
      console.log("Name:", name);
      console.log("Email:", email);
      console.log("Comment:", comment);
      res.send("Your message has been received!");
    });        
    </pre
      >
    </div>
    <div class="copy" ><button id="copyJ" onclick="copyCode2()">Copy</button></div>


    <h3>index.ejs Code :-</h3>
    <div class="copy_code" id="contentCopy2">
      <pre>
    &lt;%- include("Partials/header.ejs") %&gt;
    &lt;div class="container1"&gt;
        &lt;form action="/submit-question" method="POST"&gt;
          &lt;label for="question"&gt;&lt;%=question%&gt;&lt;/label&gt;&lt;br&gt;
            &lt;input type="text" id="question" name="answer" required&gt;&lt;br&gt;&lt;br&gt;
            &lt;button type="submit"&gt;Submit&lt;/button&gt;
        &lt;/form&gt;
    &lt;/div&gt;
    &lt;%- include("Partials/footer.ejs") %&gt;
    </pre
      >
    </div>
    <div class="copy" ><button id="copy2" onclick="copyCode2()">Copy</button></div>

    <h3>About.ejs Code :-</h3>
    <div class="copy_code" id="contentCopy3">
      <pre>
    &lt;%- include("Partials/header.ejs") %&gt;
    &lt;div class="container2"&gt;
    &lt;div class="about"&gt;
    &lt;h2&gt;About Me&lt;/h2&gt;
    &lt;p&gt;Hello! My name is Chaitanya, and I am an aspiring Full Stack Developer. I am passionate about creating dynamic and responsive web applications. I am currently a student, continuously learning and expanding my skill set.&lt;/p&gt;
    &lt;/div&gt;&lt;/div&gt;
    &lt;%- include("Partials/footer.ejs") %&gt;
    </pre>
    </div>
    <div class="copy" ><button id="copy3" onclick="copyCode3()">Copy</button></div>


    <h3>contact.ejs Code :-</h3>
    <div class="copy_code" id="contentCopy4">
      <pre>
    &lt;%- include("Partials/header.ejs") %&gt;
    &lt;h3&gt;Contact&lt;/h3&gt;

    &lt;div class="container3"&gt;
    &lt;form action="/action_page.php"&gt;
    &lt;label for="name"&gt;Name&lt;/label&gt;
    &lt;input type="text" id="name" name="name" placeholder="Your name.."&gt;

    &lt;label for="mail"&gt;Email&lt;/label&gt;
    &lt;input type="text" id="mail" name="lastname" placeholder="Your Email"&gt;

    &lt;label for="comment"&gt;Comment&lt;/label&gt;
    &lt;textarea id="comment" name="comment" placeholder="Comment" style="height:100px"&gt;&lt;/textarea&gt;

    &lt;input type="submit" value="Submit"&gt;
    &lt;/form&gt;
    &lt;/div&gt;

    &lt;%- include("Partials/footer.ejs") %&gt;
    </pre>
    </div>
    <div class="copy" ><button id="copy4" onclick="copyCode4()">Copy</button></div>


    <h3>header.ejs Code :-</h3>
    <div class="copy_code" id="contentCopy5">
      <pre>
    &lt;!DOCTYPE html&gt;
    &lt;html lang="en"&gt;
    &lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
    &lt;link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"&gt;
    &lt;link rel="stylesheet" href="/style.css"&gt;
    &lt;link rel="shortcut icon" href="/Assets/favicon.png" type="image/x-icon"&gt;
    &lt;title&gt;Quiz Game&lt;/title&gt;
    &lt;/head&gt;
    &lt;body&gt;
    &lt;div class="container-fluid"&gt;
    &lt;div class="container"&gt;
        &lt;header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"&gt;
        &lt;a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"&gt;
            &lt;img src="/Assets/logo.png" class="bi me-2" width="40" height="32" alt="Bootstrap Icon"&gt;
            &lt;span class="fs-4"&gt;Quiz Game&lt;/span&gt;
        &lt;/a&gt;

        &lt;ul class="nav nav-pills"&gt;
            &lt;li class="nav-item"&gt;&lt;a href="/" class="nav-link"&gt;Home&lt;/a&gt;&lt;/li&gt;
            &lt;li class="nav-item"&gt;&lt;a href="/about" class="nav-link"&gt;About&lt;/a&gt;&lt;/li&gt;
            &lt;li class="nav-item"&gt;&lt;a href="/contact" class="nav-link"&gt;Contact&lt;/a&gt;&lt;/li&gt;
            &lt;li class="nav-item"&gt;&lt;a href="/source-code" class="nav-link"&gt;Source-Code&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
        &lt;/header&gt;
    &lt;/div&gt;
    &lt;/div&gt;
    </pre>
    </div>
    <div class="copy" ><button id="copy5" onclick="copyCode5()">Copy</button></div>


    <h3>footer.ejs Code :-</h3>
    <div class="copy_code" id="contentCopy6">
      <pre>   
    &lt;footer&gt;
    &lt;div class="social-media"&gt;
    &lt;a href="https://www.linkedin.com/in/mogalla-chaitanya-811221301/" target="_blank"&gt;&lt;img src="./assets/linkdin.webp" alt="linkdin"&gt;&lt;/a&gt;
    &lt;a href="https://twitter.com/ChaitanyaM1718" target="_blank"&gt;&lt;img src="./assets/twitter.png" alt="gmail"&gt;&lt;/a&gt;
    &lt;a href="https://www.instagram.com/_m_chaitanya__?igsh=ZHNxeWxzNjkxYmgz" target="_blank"&gt;&lt;img src="./assets/instagram.webp" alt="instagram"&gt;&lt;/a&gt;
    &lt;/div&gt;
    &lt;div class="copyright"&gt;
    &amp;copy; 2024 Chitanya_M. All rights reserved. For inquiries,contact me at &lt;a href="mailto:mogallachaitanya@gmail.com"&gt;mogallachaitanya@gmail.com&lt;/a&gt;.
    &lt;/div&gt;
    &lt;/footer&gt;
    &lt;/body&gt;
    &lt;/html&gt;
    </pre>
    </div>
    <div class="copy" ><button id="copy6" onclick="copyCode6()">Copy</button></div>

    <h3>footer.ejs Code :-</h3>
    <div class="copy_code" id="contentCopy7">
      <pre>
    &lt;footer&gt;
    &lt;div class="social-media"&gt;
    &lt;a href="https://www.linkedin.com/in/mogalla-chaitanya-811221301/" target="_blank"&gt;&lt;img src="./assets/linkdin.webp" alt="linkdin"&gt;&lt;/a&gt;
    &lt;a href="https://twitter.com/ChaitanyaM1718" target="_blank"&gt;&lt;img src="./assets/twitter.png" alt="gmail"&gt;&lt;/a&gt;
    &lt;a href="https://www.instagram.com/_m_chaitanya__?igsh=ZHNxeWxzNjkxYmgz" target="_blank"&gt;&lt;img src="./assets/instagram.webp" alt="instagram"&gt;&lt;/a&gt;
    &lt;/div&gt;
    &lt;div class="copyright"&gt;
    &amp;copy; 2024 Chitanya_M. All rights reserved. For inquiries,contact me at &lt;a href="mailto:mogallachaitanya@gmail.com"&gt;mogallachaitanya@gmail.com&lt;/a&gt;.
    &lt;/div&gt;
    &lt;/footer&gt;
    &lt;/body&gt;
    &lt;/html&gt;
    </pre>
    </div>
    <div class="copy" ><button id="copy7" onclick="copyCode7()">Copy</button></div>


    <h3>right.ejs Code :-</h3>
    <div class="copy_code" id="contentCopy8">
      <pre>  
    &lt;%- include("Partials/header.ejs") %&gt;
    &lt;div class="containerW"&gt;
        &lt;img src="/Assets/Right.png" alt=""&gt;
        &lt;h3&gt;Right Answer&lt;/h3&gt;
    &lt;/div&gt;
    &lt;a href="/"&gt;&lt;div class="nextBtn"&gt;&lt;input type="button" value="TRY AGAIN"&gt;&lt;/div&gt;&lt;/a&gt;
    &lt;%- include("Partials/footer.ejs") %&gt;
    </pre>
    </div>
    <div class="copy" ><button id="copy8" onclick="copyCode8()">Copy</button></div>


    <h3>wrong.ejs Code :-</h3>
    <div class="copy_code" id="contentCopy9">
      <pre>
    &lt;%- include("Partials/header.ejs") %&gt;
    &lt;div class="containerW"&gt;
        &lt;img src="/Assets/Wrong.png" alt=""&gt;
        &lt;h3&gt;Wrong Answer&lt;/h3&gt;
    &lt;/div&gt;
    &lt;div class="correct-answer"&gt;&lt;p&gt;Correct answer is : &lt;%= answer %&gt; &lt;/p&gt;&lt;/div&gt;
    &lt;a href="/"&gt;&lt;div class="nextBtn"&gt;&lt;input type="button" value="TRY AGAIN"&gt;&lt;/div&gt;&lt;/a&gt;
    &lt;%- include("Partials/footer.ejs") %&gt;
    </pre>
    </div>
    <div class="copy" ><button id="copy9" onclick="copyCode9()">Copy</button></div>

  <script src="/file.js"></script>
  </body>
</html>
