<%- include("Partials/header.ejs") %>
    <div class="containerW">
        <img src="/Assets/Wrong.png" alt="">
        <h3>Wrong Answer</h3>
    </div>
    <div class="correct-answer"><p>Correct answer is : <%= answer %> </p></div>
    <a href="/"><div class="nextBtn"><input type="button" value="TRY AGAIN"></div></a>
<%- include("Partials/footer.ejs") %>