
<footer>
    <div class="social-media">
      <a href="https://www.linkedin.com/in/chaitanya-mogalla-811221301/" target="_blank"><img src="./assets/linkdin.webp" alt="linkdin"></a>
      <a href="https://twitter.com/ChaitanyaM1718" target="_blank"><img src="./assets/twitter.png" alt="gmail"></a>
      <a href="https://www.instagram.com/_m_chaitanya__?igsh=ZHNxeWxzNjkxYmgz" target="_blank"><img src="./assets/instagram.webp" alt="instagram"></a>
    </div>
    <div class="copyright">
      &copy; 2024 Chitanya_M. All rights reserved. For inquiries,contact me at <a href="mailto:mogallachaitanya@gmail.com">mogallachaitanya@gmail.com</a>.
    </div>
  </footer>
  <script src="/file.js"></script>
</body>
</html>